#!/usr/local/bin/make -f                                                                                                                                           
STAMPDIR=tgz2build/stamps

CONFIGURE_OPTS := --prefix $(ZBS_PREFIX) --shared
CONFIGURE_CMD = ./configure
ifneq (,$(findstring solaris,$(ZBS_DIST)))
  CONFIGURE_CMD= CC="gcc -fPIC" LDSHARED="gcc -shared" ./configure
  ifneq (,$(findstring amd64,$(ZBS_ARCH)))
  CONFIGURE_CMD= CC="gcc -fPIC -m64"  LDSHARED="gcc -shared -m64" ./configure
  endif
endif

ifneq (,$(findstring hpux,$(ZBS_DIST)))
# Under hpux we need this switch to be able to use iconv.
  CONFIGURE_OPTS +=
endif

ifneq (,$(findstring aix,$(ZBS_DIST)))
# Under hpux we need this switch to be able to use iconv.
  CONFIGURE_OPTS +=
endif


all: binary

binary: setup configure build install

setup:  $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir tgz2build/stamps || true
	touch $@

configure: $(STAMPDIR)/stamp-configure
	$(CONFIGURE_CMD) $(CONFIGURE_OPTS)
	touch $@

$(STAMPDIR)/stamp-configure: setup

build:  $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: configure
	$(MAKE)
	touch $@
install: $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: build
	rm -rf $(ZBS_STAGE_DIR) || true
	$(MAKE) install libdir=$(ZBS_STAGE_DIR)/$(ZBS_PREFIX)/lib includedir=$(ZBS_STAGE_DIR)/$(ZBS_PREFIX)/include

	touch $@
clean:
	rm -rf tgz2build/stamps || true
	rm -rf tgz2build/staging || true
	$(MAKE) clean

.PHONY: build clean binary-indep binary-arch binary install
