#!/usr/local/bin/make -f                                                                                                                                           
STAMPDIR=tgz2build/stamps

CONFIGURE_OPTS := --prefix $(ZBS_PREFIX) --shared
CONFIGURE_CMD = ./configure

all: binary

binary: clean setup configure build install

ifeq (,$(CC))
CC:=gcc
endif

ifneq (,$(findstring solaris,$(ZBS_DIST)))
ifneq (,$(findstring sparc64,$(ZBS_ARCH)))
	LDSHARED=$(CC) $(LDFLAGS) -shared
endif
ifneq (,$(findstring amd64,$(ZBS_ARCH)))
	LDSHARED=$(CC) $(LDFLAGS) -shared
endif
endif

setup:  $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir -p tgz2build/stamps 
	touch $@

configure: $(STAMPDIR)/stamp-configure
	if [ -n "$(LDSHARED)" ]; then \
		LDSHARED="$(LDSHARED)";\
		export LDSHARED; \
	fi; \
	$(CONFIGURE_CMD) $(CONFIGURE_OPTS)
	touch $@

$(STAMPDIR)/stamp-configure: setup
ZLIBVERSION=1.2.3.3
build:  $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: configure
	$(MAKE)
	if echo $(ZBS_DIST) | grep '^aix' >/dev/null 2>&1;then \
		rm -f libz.a; \
		/usr/bin/ar -X32 -q libz.a libz.so.$(ZLIBVERSION); \
	fi

	touch $@

install: $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: build
	rm -rf $(ZBS_STAGE_DIR) || true
	$(MAKE) install prefix=$(ZBS_STAGE_DIR)/$(ZBS_PREFIX) libdir=$(ZBS_STAGE_DIR)/$(ZBS_PREFIX)/lib includedir=$(ZBS_STAGE_DIR)/$(ZBS_PREFIX)/include
	if echo $(ZBS_DIST) | grep '^aix' >/dev/null 2>&1;then \
		install -m644 libz.a $(ZBS_STAGE_DIR)/$(ZBS_PREFIX)/lib; \
		rm -f $(ZBS_STAGE_DIR)/$(ZBS_PREFIX)/lib/libz.so*; \
	fi
	touch $@

clean:
	rm -rf tgz2build/stamps || true
	rm -rf tgz2build/staging || true
	$(MAKE) clean

.PHONY: build clean binary-indep binary-arch binary install
