Source: zlib
Section: libs
Priority: optional
Maintainer: ZorpOS Maintainers <zorpos@balabit.com>
XSBC-Original-Maintainer: Mark Brown <broonie@debian.org>
Standards-Version: 3.7.2
XS-VCS-Bzr: http://bzr.debian.org/bzr/pkg-zlib/zlib/debian

Package: zlib
Architecture: any
Priority: required
Provides: libz1
Description: compression library - runtime
 tgz2builder dummy package

Package: zlib-dev
Section: libdevel
Architecture: any
Depends: zlib1g (= ${binary:Version}), libc6-dev | libc-dev
Conflicts: zlib1-dev
Provides: libz-dev
Description: compression library - development
 tgz2builder dummy package
